<div class="container">
     <h1>Edit Your Publishing</h1>
     <div class="row">
          <div class="col-md-9 mx-auto">
               <div class="card" id="container">
                    <div class="card-body">
                         <form action="/dashboard/sales/edit/{{edit.id_pedal}}" method="POST">
                              <div class="form-group">
                                   <label for="exampleFormControlInput1" id="titleb">Title</label>
                                   <input type="text" value="{{edit.rp_titulo}}" name="rp_titulo" class="form-control"
                                        placeholder="Your Title" required="" autofocus>
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlSelect1" id="titleb">Pedal brand</label>
                                   <select class="form-control" name="rp_marca" id="exampleFormControlSelect1" required>
                                        <option value="{{edit.rp_marca}}">{{edit.rp_marca}} (selected)</option>
                                        <option value="Boss">Boss</option>
                                        <option value="EarthQuacker Devices">EarthQuacker Devices</option>
                                        <option value="Keeley Electronics">Keeley Electronics</option>
                                        <option value="Diamond">Diamond</option>
                                        <option value="Fender">Fender</option>
                                        <option value="JHS">JHS</option>
                                        <option value="Tc Electronic">Tc Electronic</option>
                                        <option value="Strymon">Strymon</option>
                                        <option value="MXR">MXR</option>
                                        <option value="Ibanez">Ibanez</option>
                                        <option value="Mooer">Mooer</option>
                                        <option value="Xotic">Xotic</option>
                                        <option value="Catalinbread">Catalinbread</option>
                                        <option value="Other">Other</option>
                                   </select>
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlInput1" id="titleb">Type</label>
                                   <input type="text" value="{{edit.rp_tipo}}" name="rp_tipo" class="form-control"
                                        placeholder="Pedal Type" required="">
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlInput1" id="titleb">Model</label>
                                   <input type="text" value="{{edit.rp_modelo}}" name="rp_modelo" class="form-control"
                                        placeholder="Pedal Model" required="">
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlSelect1" id="titleb">Pedal Status</label>
                                   <select class="form-control" id="exampleFormControlSelect1" name="rp_estado"
                                        required>
                                        <option value="{{edit.rp_estado}}">{{edit.rp_estado}} (selected)</option>
                                        <option value="new">New</option>
                                        <option value="used">Used</option>
                                        <option value="repaired">Repaired</option>
                                   </select>
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlInput1" id="titleb">Price in $USD</label>
                                   <input type="number" value="{{edit.rp_precio}}" min="1" max="10000.00" step="0.01"
                                        name="rp_precio" class="form-control" placeholder="9.99" required="">
                              </div>
                              <label for="exampleFormControlInput1 " id="titleb">Description</label>
                              <textarea type="text" name="rp_descripcion" rows="2" class="form-control"
                                   placeholder="Your description" required="">{{edit.rp_descripcion}}</textarea>
                    </div>
                    <form>
                         <div class="form-group">
                              <label for="exampleFormControlFile1" id="titleb">Upload Image</label>
                              <input type="file" class="form-control-file" name="rp_img1" id="exampleFormControlFile1"
                                   placeholder="exam">
                         </div>
                         <div class="form-group">
                              <label for="exampleFormControlFile1" id="titleb">Upload Track Sample</label>
                              <input type="file" class="form-control-file" name="rp_demo" id="exampleFormControlFile1">
                         </div>
                         <div class="form-group">
                              <div class="row justify-content-center">
                                   <a class="btn btn-secondary" id="btnCancelar" href="/dashboard/sales/">Cancelar</a>
                                   <button class="btn btn-success btn-block" id="btnAdd">
                                        Modify
                                   </button>
                              </div>
                         </div>
                    </form>
                    </form>
               </div>
          </div>
     </div>
</div>
</div>>